html {
  width:100%;
}
body {
  background-color: rgb(253, 241, 231);
}
@font-face {font-family: "Jensen";
src: url("display_fonts/jensen/35e8fc4eb3f285b4ddcedec471839746.eot"); /* IE9*/
src: url("display_fonts/jensen/35e8fc4eb3f285b4ddcedec471839746.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
url("display_fonts/jensen/35e8fc4eb3f285b4ddcedec471839746.woff2") format("woff2"), /* chrome、firefox */
url("display_fonts/jensen/35e8fc4eb3f285b4ddcedec471839746.woff") format("woff"), /* chrome、firefox */
url("display_fonts/jensen/35e8fc4eb3f285b4ddcedec471839746.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
url("display_fonts/jensen/35e8fc4eb3f285b4ddcedec471839746.svg#Jenson Old Style W01 Bold Cn") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Fraktur";
src: url("display_fonts/fraktur/2d85024f43d9a43c487c297e3b7cdefb.eot");
src: url("display_fonts/fraktur/2d85024f43d9a43c487c297e3b7cdefb.eot?#iefix") format("embedded-opentype"),
url("display_fonts/fraktur/2d85024f43d9a43c487c297e3b7cdefb.woff2") format("woff2"),
url("display_fonts/fraktur/2d85024f43d9a43c487c297e3b7cdefb.woff") format("woff"),
url("display_fonts/fraktur/2d85024f43d9a43c487c297e3b7cdefb.ttf") format("truetype"),
url("display_fonts/fraktur/2d85024f43d9a43c487c297e3b7cdefb.svg#Fraktur") format("svg");
}

@font-face {font-family: "Griffo"; src: url("display_fonts/griffo/e0fcf1cc6bed0f55f8a3af18e33479ce.eot"); src: url("display_fonts/griffo/e0fcf1cc6bed0f55f8a3af18e33479ce.eot?#iefix") format("embedded-opentype"), url("display_fonts/griffo/e0fcf1cc6bed0f55f8a3af18e33479ce.woff2") format("woff2"), url("display_fonts/griffo/e0fcf1cc6bed0f55f8a3af18e33479ce.woff") format("woff"), url("display_fonts/griffo/e0fcf1cc6bed0f55f8a3af18e33479ce.ttf") format("truetype"),
url("display_fonts/griffo/e0fcf1cc6bed0f55f8a3af18e33479ce.svg#GriffoClassicoW00-Italic") format("svg"); }

@font-face {font-family: "Franklin"; src: url("display_fonts/franklin/c5e318af825ba7118f0e432ef4150911.eot"); src: url("display_fonts/franklin/c5e318af825ba7118f0e432ef4150911.eot?#iefix") format("embedded-opentype"), url("display_fonts/franklin/c5e318af825ba7118f0e432ef4150911.woff2") format("woff2"), url("display_fonts/franklin/c5e318af825ba7118f0e432ef4150911.woff") format("woff"), url("display_fonts/franklin/c5e318af825ba7118f0e432ef4150911.ttf") format("truetype"), url("//display_fonts/franklin/c5e318af825ba7118f0e432ef4150911.svg#Franklin") format("svg"); }

@font-face {font-family: "Bodoni"; src: url("display_fonts/bodoni/58792b56a7271a7454eea07ea8e4ba93.eot"); src: url("display_fonts/bodoni/58792b56a7271a7454eea07ea8e4ba93.eot?#iefix") format("embedded-opentype"), url("display_fonts/bodoni/58792b56a7271a7454eea07ea8e4ba93.woff2") format("woff2"), url("display_fonts/bodoni/58792b56a7271a7454eea07ea8e4ba93.woff") format("woff"), url("display_fonts/bodoni/58792b56a7271a7454eea07ea8e4ba93.ttf") format("truetype"), url("display_fonts/bodoni/58792b56a7271a7454eea07ea8e4ba93.svg#.VnBodoni") format("svg"); }

@font-face {font-family: "Antique"; src: url("display_fonts/antique/c6f66d3eac0eca1304d31ffea83f5380.eot"); src: url("display_fonts/antique/c6f66d3eac0eca1304d31ffea83f5380.eot?#iefix") format("embedded-opentype"), url("display_fonts/antique/c6f66d3eac0eca1304d31ffea83f5380.woff2") format("woff2"), url("display_fonts/antique/c6f66d3eac0eca1304d31ffea83f5380.woff") format("woff"), url("display_fonts/antique/c6f66d3eac0eca1304d31ffea83f5380.ttf") format("truetype"), url("display_fonts/antique/c6f66d3eac0eca1304d31ffea83f5380.svg#HWT Slab") format("svg"); }

@font-face {font-family: "Grotesk"; src: url("display_fonts/grotesk/31698e90ae035da9a7078ed4831640fb.eot"); src: url("display_fonts/grotesk/31698e90ae035da9a7078ed4831640fb.eot?#iefix") format("embedded-opentype"), url("display_fonts/grotesk/31698e90ae035da9a7078ed4831640fb.woff2") format("woff2"), url("display_fonts/grotesk/31698e90ae035da9a7078ed4831640fb.woff") format("woff"), url("display_fonts/grotesk/31698e90ae035da9a7078ed4831640fb.ttf") format("truetype"), url("display_fonts/grotesk/31698e90ae035da9a7078ed4831640fb.svg#AkzidenzGrotesk") format("svg"); }

@font-face {font-family: "Gotham"; src: url("display_fonts/gotham/bd317adf74e5e7e564eb61ce9926cc6d.eot"); src: url("display_fonts/gotham/bd317adf74e5e7e564eb61ce9926cc6d.eot?#iefix") format("embedded-opentype"), url("display_fonts/gotham/bd317adf74e5e7e564eb61ce9926cc6d.woff2") format("woff2"), url("display_fonts/gotham/bd317adf74e5e7e564eb61ce9926cc6d.woff") format("woff"), url("display_fonts/gotham/bd317adf74e5e7e564eb61ce9926cc6d.ttf") format("truetype"), url("display_fonts/gotham/bd317adf74e5e7e564eb61ce9926cc6d.svg#Gotham") format("svg"); }
.pic_leg {
  position: absolute;
  bottom:20px;
  left:180px;
}
.legendRadius {
  fill: "black";
}
p{
  font-family: Helvetica;
  font-size: 2vw;
}
h1 {
  font-family: Helvetica;
  left: 0;
  line-height: 50px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
  font-size: 5vw;
  color: black;
}
div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 10px sans-serif;
  background: #ffff;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}
ul{
  font-family: Helvetica;
  margin-top: 50;
  padding-left: 290px;
  padding-right: 230px;
  position: absolute;
  text-align: left;
  top: 35%;
  font-size: 1.3vw;
}
#p1 {
  font-family: Helvetica;
  margin-top: 50;
  padding-left: 200px;
  padding-right: 230px;
  position: absolute;
  text-align: left;
  top: 30%;
  font-size: 1.25vw;

}

h3 {
  font-family: Helvetica;
  line-height: 50px;
  position: absolute;
  text-align: center;
  right:30%;
  top: 55%;
  font-size: 14px;

}
.tree {
  position: absolute;
  top: 420px;
  right:200px;
}

.legend {
  position:absolute;
  right:0;
  top:0%;
}
.renn {
  position:absolute;
  stroke: 'black';
  opacity: 0;
  top: 100vw;
  left:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;

}
.blackletter {
  position:absolute;
  top: 40vw;
  right:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;
}
.transitional {
  position:absolute;
  top: 260vw;
  right:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;
}
.os {
  position:absolute;
  fill: 'white';
  top: 600vw;
  left:0;
}
.crag {
  position:absolute;
  stroke: 'black'
  opacity: 0;
  top: 2000px;
  left:0;
}
.sans {
  position:absolute;
  top: 305vw;
  right:0;

}
.didone {
  position:absolute;
  top: 390vw;
  right:0;

}
.slab{
  position:absolute;
  top: 420vw;
  right:0;

}
.gro{
  position:absolute;
  top: 440vw;
  right:0;

}
.hum{
  position:absolute;
  top: 500vw;
  right:0;
}
.geo{
  position:absolute;
  top: 530vw;
  right:0;
}
.neogro{
  position:absolute;
  top: 550vw;
  right:0;
}
.scotch{
  position:absolute;
  top: 6000px;
  right:0;

}
.script {
  position:absolute;
  stroke: 'black'
  opacity: 0;
  top: 120vw;
  left:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;
}
.fraktur {
  position:absolute;
  stroke: 'black'
  opacity: 0;
  top: 140vw;
  left:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;
}
.stuck {
  position:fixed;
  bottom:0%;
}

circle {
  stroke:black;
  stroke-width: 1px;
}

.node0, .node1, .node2 {
  font: 12px sans-serif;

}

.link0, .link1, .link2 {
  fill: none;
  stroke: rgb(70, 10, 20);
  stroke-width: 1px;

}
