
body {
  background-color: rgb(253, 241, 231);
}
@font-face {
  font-family: GreatVibes;
  src: url(GreatVibes-Regular.ttf);
}
.points {

}

.pic_leg {
  position: absolute;
  bottom:20px;
  left:180px;
}
.legendRadius {
  fill: "black";
}
h1 {
  font-family: Helvetica;
  left: 0;
  line-height: 50px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
  font-size: 4rem;
  color: black;
}
div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 10px sans-serif;
  background: #ffff;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}
ul{
  font-family: Helvetica;
  margin-top: 50;
  padding-left: 290px;
  padding-right: 230px;
  position: absolute;
  text-align: left;
  top: 35%;
  font-size: 18px;
}
p {
  font-family: Helvetica;
  margin-top: 50;
  padding-left: 200px;
  padding-right: 230px;
  position: absolute;
  text-align: left;
  top: 30%;
  font-size: 18px;

}

h3 {
  font-family: Helvetica;
  line-height: 50px;
  position: absolute;
  text-align: center;
  right:30%;
  top: 55%;
  font-size: 14px;

}

.tree {
  position: absolute;
  top: 420px;
  right:200px;
}

.legend {
  position:absolute;
  right:0;
  bottom:0;


}
.renn {
  position:absolute;
  stroke: 'black';
  opacity: 0;
  top: 1195px;
  left:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;

}
.blackletter {
  position:absolute;
  top: 800px;
  right:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;
}
.transitional {
  position:absolute;
  top: 3750px;
  right:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;
}
.os {
  position:absolute;
  fill: 'white';
  top: 8000px;
  left:0;
}
.script {
  position:absolute;
  stroke: 'black'
  opacity: 0;
  top: 1595px;
  left:0;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 12px;
}
.stuck {
  position:fixed;
  bottom:0;
}

circle {
  stroke:black;
  stroke-width: 1px;
}

.node0, .node1, .node2 {
  font: 12px sans-serif;

}

.link0, .link1, .link2 {
  fill: none;
  stroke: rgb(70, 10, 20);
  stroke-width: 1px;

}
