/*** RESET ***/

html, body, div, span, h1, h3, p, a, img, strong, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}

body {
	color: #333333;
	font-family: arial;
	background-color: whitesmoke;
	scroll-behavior: smooth;
	overflow-y: scroll;
}
.body-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: inline-flexbox;
}
section {
	margin-bottom: 10vh;
	/* height: 75vh; */
	align-content: center;
}
h1 {
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}
.container {

	position: relative;
	text-align: center;
	color: white;
}
h3 {
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin: 0 0 5px 0;
	padding-bottom: 10px;
}
p {
	font-family: 'B612', arial;
	font-weight: 100;
	font-size: 16px;
	margin: 3px 0 10px 0;
	line-height: 1.5rem;
}
section.header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	/* position: fixed; */
	/* max-width: 750px; */
}
section.header a {
	font-weight: 500;
	padding: 0px 4px 2px 4px;
	text-decoration: none;
	display: inline-block;
	color: white;
	border-bottom: none;
	background: none;
	transition: all 0.2s;
	opacity: 1;
}
section.header a:hover {
	background-color: rgb(70, 70, 70);
}
.row {
	margin: 0px 0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: table;
	width: 100%;

}
.row a {
	text-decoration: none;
	color: black;
}

.row, .row>.column {
	margin-right: auto;
	margin-left: auto;

}
/* Create four equal columns that floats next to each other */
.column {
	margin-left: auto;
	margin-right: auto;
	float: left;
	height:auto;
	width: 33%;
	box-sizing: border-box;
	filter: none;
	transform: scale(1.05);
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	margin-top: auto;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.content {
	padding: 6px 1em;
	margin: 0em 1em 1em 1em;
	height:270px;
	display: inline-block;
	vertical-align: top;
	border-width: 1px;
	border-color: rgb(183, 217, 250);
	border-style: solid;
	filter: grayscale(100%);
	transition: all .2s;
}
.reviews {
	padding: 6px 1em;
	margin: 0em 1em 1em 1em;
	height:80px;
	display: inline-block;
	vertical-align: top;
	border-width: 1px;
	border-color: rgb(183, 217, 250);
	border-style: solid;
	filter: grayscale(100%);
	transition: all .2s;
}
.content:hover {
	filter: none;
	transform: scale(1.05);
	background-color: rgb(228, 239, 250);
}
.reviews:hover {
	filter: none;
	transform: scale(1.05);
	background-color: rgb(228, 239, 250);
}
.info {
	position: relative;
	padding-bottom: 1.1em;
}
.description {
	font-size: 14px;
	font-weight: 100;
	line-height: 18px;
	height: 30px;
	text-align: left;
	text-justify: inter-character;
	word-break: normal;
	hyphens: auto;
}
.left-half {
	/** background-color: #ff9e2c; **/
	position: absolute;
	left: 0px;
	width: 50%;
}
.right-half {
	/** background-color: #b6701e; **/
	position: absolute;
	right: 0px;
	width: 50%;
}
.skills {
	text-align: left;
	font-size: 10px;
	padding-bottom: 0.5em;
}
.date {
	text-align: right;
	font-size: 10px;
	padding-bottom: 0.5em;
	padding-right: 1px;
}
.nomargin {
	margin: 0;
}
/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Loading animation */
* {
	margin: 0;
	padding: 0;
}
.container {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Mobile */
@media (max-width:700px) {
	.column {
		width: 100%;
		margin: 8px auto;
	}
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
