/*@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono";*/
body {
  background: #212222;
  color: #fff;
  font-family: Helvetica;
  font-size: .9rem;
  font-weight: regular;
  -webkit-font-smoothing: antialiased;
}

.intro-text {
     left: 0;
     line-height: 50px;
     margin-top: -100px;
     position: absolute;
     text-align: center;
     top: 30%;
     width: 100%;
}
.intro {
    padding-bottom: 800px;
    margin: 0;
    background-color: #F6999A;
    color: #CF2456;
    font-family: Helvetica;
}
intro.h1{
    font-size: 120pt;
    padding: 0;
    margin: 0;
    text-align: center;


}
intro.h2{
    padding: 0;
    font-size: 31pt;
    text-align: center;
}
intro.p{
    padding: 0;
    font-size: 16pt;
    text-align: center;
    line-height: 21px;
}

.filtered {
  filter: grayscale(100%);
}

.column {
  float: left;
  width: 50%;
}

.rcolumn {
  float: right;
  width: 50%;
}

.lcolumn {
  float: left;
  width: 72%;
  height: 100%;
  position: absolute;
  padding-right: 15%;
  padding-top: 5%;
  align-content: left;
  align-items: left;
  text-align: left;
}

#mycanvas {
  color: #fff;
  font-family: Helvetica;
  font-size: 1.6rem;
  font-weight: regular;
  float: left;
  text-align: left;
  align-content: left;
}

#mycanvas.labels {
  position: relative;
  padding-bottom: 25%;
}

.legend {
  position: relative;
  padding-bottom: 25%;
}

.rangeslider {
  background-color: #fff;
  border-radius: 0;
  height: 0.2rem;
}

.q {
padding-bottom: 50%;
}

.rangeslider__fill {
  background-color: #f6999a;
}

.rangeslider__handle {
  width: 1.5rem;
  height: 1.5rem;

  background: url('/heart_dark.svg');
  border: none;
  padding-top: 2px;
  /* position: absolute; */
  text-align: center;
  transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
}
.rangeslider__handle::after {
  display: none;

}
.rangeslider__handle:hover, .rangeslider__handle:active {
  background: url('/heart_dark.svg');
  -ms-transform: scale(1.2, 1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  /* Safari */
  transform: scale(1.2, 1.2);
  transition: transform 0.1s ease-in-out;
  -moz-transition: transform 0.1s ease-in-out;
  -webkit-transition: transform 0.1s ease-in-out;
}



body label {
  color: #fff;
  display: block;
  margin-top: 2rem;
  font-size: 14pt;
}

section {
  height: 100vh;
}
